<!DOCTYPE html>
<head>
	<title>Word - let's write</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<style type="text/css">
		
	</style>
	<main>
		<div id="header" class="jumbotron">
		  <div>
			<h1>Word - let's write</h1>
		  </div>
		</div>
		<div class="col-md-10 offset-md-1 mt-2">
			<h4>Aims of the class</h4>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success">
					Practice using Microsoft Word
				</li>
				<li class="list-group-item list-group-item-success">
					Practice using Present Continous
				</li>
			</ul>
		</div>
		<div class="col-md-10 offset-md-1 mt-2">
			Download the file and do the tasks
			<ul>
				<li>
					<a href="./verb1_colouring.docx" download target="_blank"> 
						Family picnic!
					</a>
				</li>
				<li>
					<a href="./verb2_colouring.docx" download target="_blank"> 
						In our house!
					</a> 		
				</li>
			</ul>
		</div>
	</main>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/lodash.js"></script>
	<script src="js/fraktal.js"></script>
</body>
